.header__bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.header__bottom {
  margin-top: 70px;
}

.header__bottom li:first-child {
  display: flex;
  align-items: center;
}

.header__bottom li img {
  margin-left: 7px;
  cursor: pointer;
}

.header__bottom a {
  color: #2b1414;
  font-size: 14px;
  font-family: "Proxima Nova";
}
