* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../Fonts/ProximaNova/proximanova_regular.ttf') format('truetype');
    /* Дополнительные настройки шрифта, если необходимо */
  }